name: Deploy STAGING

on:
  push:
    branches: [ "staging" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to STAGING via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /root/smart-trader-stg
            git fetch origin staging
            git reset --hard origin/staging
            chmod +x deploy-stg.sh
            ./deploy-stg.sh
