name: Deploy PROD
on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: SSH Deploy to Production
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 171.22.24.45
          username: root
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /root/smart-trader
            bash deploy-prod.sh