name: Deploy STAGING

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy to STAGING via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 171.22.24.45
          username: root
          key: ${{ secrets.SMARTTRADER_STG_SSH_KEY }}
          port: 22
          script: |
            set -e
            cd /root/smart-trader-stg
            bash deploy-stg.sh
